<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
</head>
<body>
<div class="container">
    <h3>用户列表</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>用户编号</th>
            <th>用户名称</th>
            <th>创建时间</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}" />
            <td th:text="${user.userCode}" />
            <td th:text="${user.userName}" />
            <td th:text="${user.createTime}" />
        </tr>
    </table>
</div>
</body>
</html>